# Bytecode / caches
__pycache__/
*.pyc

# Data
/datasets/
/data.csv

# Local env
.env
.venv/
.venv

# OS
.DS_Store

# Android / Gradle
.gradle/
**/build/
local.properties
*.iml
.idea/
*.apk
*.aab


# Kotlin
.kotlin/

